.menu-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.menu-mobile{
    display: none;
    margin-right: 20px;
}
.left-menu{
    padding-left: 100px;
    padding-right: 100px;
}
.dashboard-top{
    margin: 50px 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 5px 3px 5px #aaa;
    box-sizing: border-box;
}
.bio-wrap{
    margin-left: 10vw;
    width: 50vw;
    line-height: 2;
}
.link-setting{
    text-align: right;
    margin: 30px 100px 10px 0;
    font-style: italic;
}
.user-info{
    font-style: italic;
    word-spacing: 3px;
}
.adds-wrap{
    border: 1px solid #aaa;
    width: 30%;
    height: 50vh;
    text-align: center;
}
.event-wrap{
    box-shadow: 5px 5px 5px #aaa;
}
.event-comp{
    display: flex;
    justify-content: space-between;
    border: 1px solid #aaa;
    margin: 10px auto;
    padding: 10px 50px;
    box-sizing: border-box;
}
.event-comp img{
    width: 50px;
    height: 50px;
    border: 1px solid #aaa;
}
.footer{
    border: 1px solid #aaa;
    text-align: center;
    margin-top: 30vh;
}
.top-footer{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.bottom-footer{
    padding: 10px;
    border: 1px solid #aaa;
    font-size: .8em;
    word-spacing: 10px;
}
.sosmed{
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px 30px;
}
.sosmed:hover{
    transform: scale(1.1);
}
.collection-card-wrapper{
    width: 250px;
    height: 280px;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
}
.img-collection-wrap img{
    max-height: 170px;
    max-width: 250px;
    border-radius: 10px 10px 0 0;
}
.collection-card-button{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.hero-card{
    border: 1px solid #aaa;
    width: 140px;
    height: 170px;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    padding: 2px;
}
.hero-card img{
    border-radius: 8px 8px 0 0;
}
.button-card{
    display: flex;
    justify-content: center;
    margin: 5px;
}

@media only screen and (max-width: 600px) {
    .menu-window{
        display: none;
    }
    .menu-mobile{
        display: inline;
        align-self: center;
    }
    .left-menu{
        padding-left: 50px;
        padding-right: 50px;
    }
    .bio-wrap{
        width: 80vw;
        margin-left: 0;
    }
    .link-setting{
        margin-right: 0;
    }
    .adds-wrap{
        width: 80vw;
        height: 10vh;
    }
    .sosmed{
        padding: 5px 8px;
    }
}